#Options +FollowSymLinks
Options +SymLinksIfOwnerMatch
Options -Indexes

RewriteEngine On

# RewriteRule ^$ - [R=404,L]
RewriteCond $1 !^(index\.php|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

<IfModule mod_headers.c>
	Header set X-XSS-Protection "1; mode=block"
	Header always append X-Frame-Options SAMEORIGIN
	Header set X-Content-Type-Options nosniff
	Header set X-Frame-Options DENY
</IfModule>